@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.open-sans-uniquifier {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #f6d102;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1;

}

.logo img {
    height: 50px;
    margin-left: 20px;
    padding-left: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.main{
    display: flex;
    width: 1000px;
    background:blanchedalmond;
    justify-content: center;
    box-sizing: content-box;
}

.container{
    display: flex;
    justify-content: center;
    margin: 100px;
    height: 100vh;
}

.imagen1{
    margin: 50%;
    height: auto;
}

.section-1{
    margin: 80px;
    width: 50%;
    /* padding-right: 221px;
    margin-left: 185px; */
}

.title1{
    font-weight: bold;
    font-size: 50px;
    margin: 0px;
    font-family: "Bebas Neue", sans-serif;

}

.button-yellow{
    font-size: 14px;
    background-color:#FFD700 ;
    border-radius: 2px ;
    padding: 9px 22px;
    border: none; 
    font-weight:bold ;

}

.container1 {
    background-color: #e7e4e4;
    max-width: 930px;
    margin: 0 auto; 
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    bottom: -450px;
    left: 300px;
    box-shadow: 5px 10px 15px rgba(139, 139, 139, 0.5); /* Sombra */
    /* z-index: 1; */
}

.section-2 {
    margin: 20px;
    padding: 20px;
    justify-content: space-between;
    max-width: 290px;
    width: 100%;
}

.img-section-2 {
    padding: 10px;
    margin: 15px;
}

.img-graficas {
    margin: 10px;
}

.title2 {
    font-size: 40px;
    margin: 0px;
    font-weight: bold;
    color: #FFD700;
    font-family: "Bebas Neue", sans-serif;
}

.read {
    font-weight: bold;
    font-size: 16px;
}

.container2 {
    background-color: #FFD700;
    display: flex;
    justify-content: space-between;
    padding: 200px;
    /* height: 650px; */
    margin-top: 100px;
   
}

.section-3 {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 50%;
}

.img-section-3 {
    padding: 10px;
    margin: 10px;
    max-width: 50%;
    left: -165px;
    top: 95px;
    position: relative;
    /* z-index: 1; */
   
}

.happy {
    max-width: 100%;
} 

.title3 {
   font-weight: bold;
   font-size: 50px;
   margin: 0px;
   font-family: "Bebas Neue", sans-serif;
}

.read2 {
    font-size: 14px;
    color: #fff;
    background-color:#000;
    border-radius: 2px ;
    padding: 9px 22px;
    border: none; 
    font-weight: bold;
}

.text2 {
    color: #000;
    width: 70%;
    font-family: "Open Sans", sans-serif;
    /* font-size: 18px;
    margin-bottom: 20px;
    padding-right: 320px; */
}

.container3{
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja{
    display: flex;
    background-color:  #e7e4e4;
    box-shadow: 5px 10px 25px rgba(139, 139, 139, 0.5); /* Sombra */
}

.title4{
    color: #FFD700;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
}

#black{
    color: white;
    background-color: #000;
}

.section-4{
    padding: 110px;
}

.img-section-4{
    position: relative;
    /* z-index: 1; */
    left: 190px;
}

.container4 {
    display: flex;
    background-color: #000;
    justify-content: center; 
    align-items: center;     
    text-align: center;      
    flex-direction: column;  
}

.section-5 {
    margin: 50px;
    padding: 0;
    display: flex;
    flex-direction: column;  
    align-items: center;     
}

.title5 {
    color: #FFD700;
    font-size: 25px;
    font-family: "Bebas Neue", sans-serif;
}

.text3 {
    font-family: "Open Sans", sans-serif;
    color: #fff;
}

.container4 .button-yellow{
    margin: 20px;
}

.container5{
    display: flex;
    justify-content: center;
    margin: 100px;
}

.section-6{
    margin: 10px;
    width: 50%;
    margin-left: 150px;
}

.title6{
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
}

.container6{
    background-color: #f2f2f2;
    display: flex;
    padding: 50px;
}

.section-7{
    margin: 100px;
}

.title7{
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
}


.container7 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.form-section {
    width: 60%; 
}

.text-section {
    margin: 20px;
    width: 50%;
    margin-left: 185px;
    padding-left: 20px;
}

.form-container {
    background-color: #000;
    padding: 35px;
    border: 1px solid #fff;
    text-align: center;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

.input-box {
    margin-bottom: 20px;
    width: 48%; 
}

.input-box.long-input {
    width: 100%;
}

.input-box.large-message textarea {
    width: 209%;
    height: 150px;
}

.input-box label {
    display: flex;
    color: #fff;
    margin-bottom: 5px;
}

.input-box input,
.input-box textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
}

textarea {
    resize: none;
}

.text-box {
    color: #fff;
    font-size: 12px;
    line-height: 1.5;
}

.title8 {
    color: #FFD700;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: "Bebas Neue", sans-serif;
}

.button-subscribe{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
}

.container8{
    background-color: #FFD700; 
    display: flex;
    justify-content: center; 
    align-items: center;     
    text-align: center;      
    flex-direction: column;  
}

.section-9{
    display: flex;
    flex-direction: column;  
    align-items: center;    
}

.title9{
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
}

.container8 .button-yellow{
    margin: 30px;
}

.container9 {
    background-color: #000000;
    padding: 20px 0;
    border-top: 3px solid #FFD700;
}

.section-10 {
    padding: 0px 70px 140px;
    width: 24%;
    margin-top: 90px;
    padding-left: 50px;
}

.section-10 .logo img {
    width: 100px;
}

.nav-columns {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.nav-columns ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #FFD700;
    font-size: 16px;
}

.left-column,
.right-column {
    display: flex;
    flex-direction: column;
}

.section-10 nav ul li a {
    color: #FFD700;
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px solid #f2f2f2;
    width: 70%;
}

.final {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 20px 50px;
}

.textfinal {
    font-family: "Open Sans", sans-serif;
    color: #FFD700;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons img {
    background-color: #FFD700;
    width: 24px;
    height: 24px;
}


@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;   
    }

    .logo img {
        height: 40px;
        margin: 0 0 10px 0;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px;
    }

    nav ul li a {
        font-size: 15px;
    }

    .main {
        flex-direction: column;
        width: 100px;
    }

    .container {
        flex-direction: column;
        margin: 20px;
        padding: 0px;
    }

    .imagen-1 img {
        width: 200px;
        height: auto;
    }

    .section-1 {
        margin: 20px 0;
    }

    .title1 {
        font-size: 16px;
    }

    .text1 {
        font-size: 16px;
    }

    .button-yellow {
        font-size: 12px;
        padding: 8px 20px;
    }

    .container1 {
        padding: 0;
        position: relative;
        bottom: 0px;
        left: 1px;
        margin: 0 auto;
        flex-direction: column;
    }

    .section-2 {
        margin: 10px 0;
        padding: 10px; 
    }

    .container2 {
        margin: 0;
        padding: 10px;
    }

    .img-section-3 {
        top: 40px;
        width: 200px;
        left: -30px;
    }

    .title3 {
        font-size: 24px;
    }

    .container3 {
        padding: 0px;
        flex-direction: column;
        align-items: flex-start;
    }

    .caja {
        flex-direction: column;
        box-shadow: none;
        margin: 10px 0;
    }

    .title4 {
        font-size: 35px;
        text-align: start;
        margin-bottom: 10px;
    }

    .section-4 {
        padding: 5px; 
    }

    .img-section-4 {
        position: relative;
        left: 10px;
        margin-top: 20px;
    }

    .img-3 {
        width: 200px;
    }

    .container4 {
        padding: 15px; 
        align-items: flex-start;
    }

    .section-5 {
        margin: 20px 0; 
        padding: 10px 15px; 
    }

    .title5 {
        font-size: 20px; 
        margin-bottom: 15px;
    }

    .text3 {
        font-size: 14px; 
        margin-bottom: 10px;
    }

    .img-4 {
        width: 100px;
    }

    .container5 {
        flex-direction: column; 
        justify-content: center;
        margin: 20px; 
    }

    .section-6 {
        margin: 20px 0;
        margin-left: 0;
    }

    .title6 {
        font-size: 24px; 
    }

    .img-5 {
        width: 200px;
    }

    .container6 {
        flex-direction: column;
        padding: 15px; 
        align-items: flex-start;
    }

    .section-7 {
        margin: 20px 0;
        margin-left: 0;
    }

    .title7 {
        font-size: 24px;
    }

    .img-6 {
        width: 260px;
    }

    .container7 {
        flex-direction: column;
        padding: 10px;
    }

    .form-section {
        width: auto;
    }

    .text-section {
        margin: 10px;
        padding-left: 80px;
    }

    .form-container {
        padding: 20px;
    }

    .input-group {
        flex-direction: column;
    }

    .input-box {
        margin-bottom: 15px;
    }

    .title8 {
        font-size: 24px;
    }

    .button-subscribe {
        margin: 10px;
        padding: 10px;
    }

    .container8 {
        padding: 10px;
    }

    .section-9 {
        margin: 10px 0;
    }

    .title9 {
        font-size: 24px;
    }

    .container8 .button-yellow {
        margin: 20px;
        padding: 10px 20px;
        font-size: 16px;
    }

    .img-map {
        width: 310px;
    }

    .section-10 {
        padding: 0px 20px 70px;
        margin-top: 50px;
        padding-left: 20px;
    }

    .nav-columns {
        flex-direction: column;
    }

    .nav-columns ul {
        font-size: 14px;
    }

    .final {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 10px;
    }

    .textfinal {
        font-size: 14px;
    }

    .social-icons img {
        width: 20px;
        height: 20px;
    }
}
